@import "../colors";


.app-container {
  * {
    box-sizing: border-box;
  }
  color: #fff;
  font-family: 'Orbitron', sans-serif; /* Example futuristic font */
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
  //background: radial-gradient(circle, #1b2735, #090a0f); /* Space gradient background */
  background-color: $main-color;


  .main-content {
      display: flex;
      padding: 20px;
      z-index: 1; /* Keeps content above background */
      overflow-y: auto; /* Allows vertical scrolling for channels and chat */
      height: 100%;
      width: 100%;
      margin: 0 !important;
      padding: 0 !important;
    }
}



/* Star animations (optional) */
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  animation: twinkle 5s infinite ease-in-out;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 1; }
}

