@import '../colors';
.user-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-width: 100%;
  height: 600px;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 100%;
  background-color: $text-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1000;

  background-color: $main-color;
  color: $text-color;
  display: grid;
  grid-template-columns: 1fr 3fr;

  &>* {
    padding: 1.3rem;
  }

  .sidebar {
    display: flex;
    flex-direction: column;

    button {
      background: none;
      border: none;
      color: $text-color;
      padding-block: 1rem;
      text-transform: uppercase;
      letter-spacing: .2rem;
      position: relative;
      z-index: 1;

      span { 
        z-index: 2; 
        position: relative;
        transition: color .2s ease-in-out;
      }
      
      &.active {
        color: $main-color;
      }
      
      &:before {
        content: '';
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background-color: rgba($color: $text-color, $alpha: .5);
        transition: .2s ease-in-out;
        z-index: 1;
      }
      &:not(.active) { cursor: pointer; }

      &.active:before,
      &:not(.active):hover:before {
        top: 0%;
      }
      &:not(.active):hover span {
        color: $main-color;
      }
    }
  }

   

  .close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: $text-color;
  
    &:hover { color: red; }
  }
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 999;
}

@media screen and (max-width: 769px) {
  .user-panel {
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;

    .sidebar {
      flex-direction: row;
      button {
        padding: .5rem 1rem;
      }
    }

    .content {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 481px) {
  .user-panel {
    .sidebar {
      width: 90%;
      flex-direction: column;
      button {
        padding: .5rem;
        font-size: .7rem;
      }
    }

    .close {
      font-size: 20px;
    }
  }
}