@import '../colors';
.user-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-width: 100%;
  height: 600px;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 100%;
  background-color: $text-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1000;

  background-color: $main-color;
  color: $text-color;
  display: grid;
  grid-template-columns: 1fr 3fr;

  &>* {
    padding: 1.3rem;
  }

  .sidebar {
    display: flex;
    flex-direction: column;

    button {
      background: none;
      border: none;
      color: $text-color;
      padding-block: 1rem;
      text-transform: uppercase;
      letter-spacing: .2rem;
      position: relative;

      &.active {
        background-color: rgba($color: $text-color, $alpha: .5);
        color: $main-color;
      }

      &:before {
        content: '';
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: $text-color, $alpha: .5);
        position: absolute;
      }
      &:not(.active) { cursor: pointer; }
      &:not(.active):hover:before {
        transition: .3s ease-in-out;
        top: 0%;
      }
    }
  }

   

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: $text-color;
  
    &:hover { color: red; }
  }
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 999;
}