@import '../colors';

.home-container {
    height: 100dvh;
    background-color: $main-color;
    color: $text-color;
    display: flex;
    flex-direction: row-reverse;
    overflow-y: hidden;

    img { image-rendering: pixelated; }

    &>* {
        padding: 3vw 4vw;
    }

    main {
        width: 100%;
    }

    .navigate-buttons {
        position: absolute;
        bottom: 0;
        right: 0;

        display: none;
        flex-direction: column;
        gap: 1vw;
        z-index: 500;
        
        button {
            cursor: pointer;
            padding: 13px;
            font-size: 1rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            //border: 1px solid $text-color;
            border: none;
            color: $main-color;
            background: $text-color;

            display: grid;
            place-items: center;
        }
    }
}

main.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;

    .ufo-container, .image-container {
        padding: 0;
        display: grid;
        place-items: center;

        img {
            width: 100%;
        }
    }

    .ufo-container img {
        width: 100%;
        max-height: 15vh;
        height: 150px;
        object-fit: contain;
    }

    .image-container img {
        max-height: 40vh;
        object-fit: contain;
        image-rendering: initial;
    }

    button {
        align-self: center;
        padding: 10px 20px;
        margin-inline: 20px;
        width: 300px;
        max-width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        font-size: .9rem;
        background: none;
        border: 1px solid $third-color;
        z-index: 1;
        cursor: pointer;
        
        &::before, span {
            transition: 200ms ease-in-out;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 100%;
            bottom: 0;
            background-color: $third-color;
            z-index: 2;
        }

        span {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            color: $third-color;
            z-index: 3;
        }

        &:hover {
            &::before {
                right: 0;
            }
            span {
                color: $main-color;
            }
        }
    }
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 769px) {
    .home-container {
        flex-direction: column;
    
        .navigate-buttons {
            display: flex;
        }
        main, header {
            min-width: 100%;
        }

        header {
            flex-direction: row;
            ul {display: none;}
            height: 10%;
            width: auto;

            img {
                height: 100%;
                width: auto;
            }
            a.login-button {
                width: auto;
                button { font-size: .8rem;}
            }
        }
    }
}

@media screen and (max-width: 481px) {
    
}