@import '../colors';

.home-container {
    height: 100dvh;
    background-color: $main-color;
    color: $text-color;
    display: flex;
    flex-direction: row-reverse;
    overflow-y: hidden;

    &>* {
        padding: 3vw 4vw;
    }

    main {
        width: 100%;
    }

    .navigate-buttons {
        position: absolute;
        bottom: 0;
        right: 0;

        display: none;
        flex-direction: column;
        gap: 1vw;

        button {
            padding: 13px;
            font-size: 1rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: 1px solid $text-color;
            color: $text-color;
            background: none;

            display: grid;
            place-items: center;
        }
    }

}

main.home-container {
    flex-direction: column;
    h1 {
        font-size: 3.5rem;
        font-weight: 700;
        text-align: center;
    }
    .image-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; // Align items at the top
        align-items: center;
        margin-top: 2rem;
        img {
            width: 700px;
            max-width: 80%;
            height: auto;
        }
    }
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 769px) {
    .home-container {
        flex-direction: column;
    
        .navigate-buttons {
            display: flex;
        }
        main, header {
            min-width: 100%;
        }

        header {
            flex-direction: row;
            ul {display: none;}
            height: 10%;
            width: auto;

            img {
                height: 100%;
                width: auto;
            }
            a.login-button {
                width: auto;
                button { font-size: .8rem;}
            }
        }
    }
}

@media screen and (max-width: 481px) {
    
}