@import '../colors';

.home-container {
    overflow-x: hidden;
    header {
        background-color: rgba($color: $text-color, $alpha: .7);
        color: $main-color;
        width: 25%;
        min-width: 250px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        button { cursor: pointer; }

        img {
            width: 60%;
            image-rendering: initial;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            width: 100%;

            li {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    width: 100%;
                    height: 100%;
                    padding:  10px 15px;
                    font-size: 1.3vw;
                    background: none;
                    border: none;
                    transition: all .3s ease;
                    letter-spacing: .1vw;
                    text-wrap: nowrap;

                    &:hover {
                        scale: 1.2;
                        font-weight: bold;
                    }
                }
            }
        }

        a.login-button {
            width: 100%;

            button {
                width: 100%;
                padding: 10px;
                border: none;
                background-color: $main-color;
                color: $text-color;
                text-transform: uppercase;
                font-size: 1.2vw;

                letter-spacing: .3vw;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .home-container {
        header {

            ul li button {
                font-size: 1.3rem;
            }
            a.login-button button {
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 769px) {
}

@media screen and (max-width: 481px) {

}