@import '../../colors';

.user-panel {
.content {
    gap: 1rem;
    .character-container {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        max-height: 100%;
        height: 100%;
        overflow-y: auto;

        .explanation {
            width: 100%;
            text-wrap: wrap;
        }

        details {
            background-color: rgba($color: $text-color, $alpha: .1);
            padding: .3rem 1rem;
            
            button {
                cursor: pointer;
            }
            
            summary { cursor: pointer; }

            .detail {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                margin-block: 1rem;

                button.addnew-char {
                    background: $main-color;
                    color: $text-color;
                    border: none;
                    padding-block: 10px;
                    text-transform: uppercase;
                    letter-spacing: .05rem;
                    margin-right: -.05rem;

                    &:hover {
                        background: lighten($color: $main-color, $amount: 2);
                    }
                }

                ul li, button.addnew-char {
                    border-radius: 7px;
                    transition: 200ms;
                }
            }
        }
    } 
}
}

ul.server-character-list-view {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .4rem;

    li {
        background: rgba($color: $text-color, $alpha: .1);
        display: flex;
        justify-content: space-between;
        padding: .5rem .7rem;

        &.not-verified {
            border: 1px solid #d0ff00;
            background: rgba($color: #d0ff00, $alpha: .1);
        }
        
        &>div {
            display: flex;
            gap: .5rem;
            align-items: center;
        }
        .info {
            img {
                width: 35px;
                aspect-ratio: 1;
                border-radius: 50%;
            }
        }
        .modify {
            button {
                background: none;
                border: none;
                color: $text-color;
                font-size: 1rem;

                &:hover{
                    &.info { color: #fcef89 }
                    &.edit { color: #2dfe54 }
                    &.delete { color: #d62929 }

                    &.reject { background: #d62929 }
                    &.accept { background: #2dfe54; color: $main-color }
                }

                &.accept, &.reject {
                    color: $text-color;
                    background: $main-color;
                    padding: .3rem .5rem;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 200ms;
                }
            }
        }
    }
}