@import 'colors';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// make scrollbar transparent with text color slider
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba($color: $text-color, $alpha: .3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($color: $text-color, $alpha: .6);
}

::-webkit-scrollbar-track {
  background: transparent;
}


