@import 'colors';

.login-container {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    min-height: 100vh;
    background-color: $main_color;
    display: grid;
    place-items: center;
    color: $text_color;
    

    main {
        width: min(100%, 500px);
        height: min(100%, 600px);
        border: 2px solid $text_color;
        border-radius: 1rem;
        padding: 2.5rem 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 1rem;
            text-transform: lowercase;
            text-align: center;
        }

        img {
            position: relative;
            top: -100px;
            height: 100px;
            width: min(80%, 300px);
            padding-inline: 2rem;
            object-fit: contain;
            background: $main_color;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0;
            width: 100%;

            input {
                width: 100%;
                padding: 0.5rem 0;
                margin: 1rem 0;
                border: none;
                border-bottom: 1px solid $text_color;
                background-color: transparent;
                color: $text_color;
                font-size: 1rem;
                font-weight: 500;
                outline: none;
                transition: all 0.3s;
                &:focus {
                    border-bottom: 2px solid $secondary_color;
                    color: $secondary_color;
                }
            }
            .password {
                position: relative;
                .show-password {
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    background: none;
                    outline: none;
                    border: none;
                    color: $text_color;
                }
            }
            button[type="submit"] {
                background: transparent;
                border: 2px solid $text_color;
                color: $text_color;
                padding: 0.75rem 1.5rem;
                border-radius: 0.5rem;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    color: $secondary_color;
                    border-color: $secondary_color;
                }
            }
        }
    }
}