.main-content {
  padding: 20px;
  width: 80%; /* Set a width to center the main content */
  border-radius: 8px; /* Optional: rounded corners */
  margin-top: 170px !important; /* Space between navbar and main content */
}

.header {
  margin-bottom: 20px;
  text-align: center; /* Center the header text */
}

.search-container {
  margin-top: 10px; /* Adjust this value to move the search bar further down */
  text-align: center;
}

.search-bar {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.search-result {
  margin-top: 20px;
  font-size: 18px;
}
