@import "../../colors";


.app-container {
  .server-main-content {
      display: flex;
      z-index: 1; /* Keeps content above background */
      overflow-y: auto; /* Allows vertical scrolling for channels and chat */
      height: 100%;
      width: 100%;
      margin: 0 !important;
      padding: 0 !important;

      .server-side {
        width: 400px;
        max-width: 15%;
        background-color: rgba($color: $text-color, $alpha: .03)
      }
    }
}