@import "../../colors";

.app-container {
  .server-main-content {
    .channel-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;

      button, .room-item-wrapper {
        cursor: pointer;
        width: 100%;
        outline: none;
        border: none;
        padding: 5px 10px;
        text-align: left;
        

        background: none;
        color: $text-color;

        &.selected {
          border-left: 2px solid $third-color;
        }

        
        &:not(.addnew):hover,
        &.selected {
          background-color: rgba($color: $third-color, $alpha: .1);
          
        }

        &.addnew {
          width: fit-content;
          position: relative;
          z-index: 2;
          border: 1px solid $third-color;
          margin-top: 5px;

          span {
            color: $third-color;
            z-index: 3;
            position: relative; // Ensure span is positioned correctly
            transition: .15s ease;
          }
          
          &::before {
            transition: .3s ease;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 100%;
            background: $third-color;
            z-index: 1; // Ensure ::before is behind the span
          }

          &:hover::before {
            right: 0;
          }

          &:hover span {
            color: $main-color;
          }
        }
      }

      .list-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        height: 100%;
        overflow-y: auto;

        .section-item {
          display: flex;
          flex-direction: column;
          cursor: pointer;
          background-color: rgba($color: $main-color, $alpha: .5);
          padding: 5px;
          
          summary, .room-item-wrapper {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;

            button {
              width: min-content;
              padding: 0;
              display: none;
              opacity: .5;

              &:hover {
                background-color: transparent;
                opacity: 1;
              }

            }
            &:hover button {
              display: block;
            }
            &>.edit-section-room {
              display: flex;
              gap: 0;
              input {
                width: 80%;
                background-color: transparent;
                outline: none;
                border: 1px solid $third-color;
                color: $text-color;
                padding: 5px;
              }
              button.approve-btn {
                display: grid;
                place-items: center;
                color: $main-color;
                background-color: $third-color;
                width: 20%;
                opacity: 1;
              }
            }
          }
          .room-item-wrapper {
            p {
              width: 100%;
            }

            &>div {
              display: flex;
              gap: 10px;
            }
          }

          summary {
            //border-bottom: 1px solid $text-color;
            padding: 5px;
            

            

            position: relative;
            anchor-name: --summary;

            &::marker {
              content: "";
            }
            
            &::before,
            &::after {
              content: "";
              border-block-start: 2px solid $text-color;
              height: 0;
              width: 10px;
              
              inset-block-start: 50%;
              inset-inline-end: 0;
              
              position: absolute;
              position-anchor: --summary;
              position-area: top end;
            }
            
            &::after {
              transform: rotate(90deg);
              transform-origin: 50%;
            }
          }

          &[open] summary::after {
            transform: rotate(0deg);
          }
  
          ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            padding-block: 5px;
            margin-block: 5px;
            border-top: 1px solid rgba($color: $text-color, $alpha: .3);
            //gap: 5px;
  
            li {
              margin-left: 20px;
            }

            li.no-room {
              opacity: .3;
              padding-block: 10px;
            }
          }
        }

        .room-creation {
          form {
            display: flex;
            width: 100%;
            max-width: 100%;
            margin-block: 10px;

            input {
              width: 80%;
              background-color: transparent;
              outline: none;
              border: 1px solid $third-color;
              color: $text-color;
              padding-inline: 5px;
            }
            button {
              width: 20%;
              background-color: $third-color;
              color: $main-color;
              font-weight: bold;
              text-align: center;
            }
          }
        }
      }

      
    }
    

  }
}
