@import "../../colors";


.app-container {
  .server-main-content {
      display: flex;
      z-index: 1; /* Keeps content above background */
      overflow-y: auto; /* Allows vertical scrolling for channels and chat */
      height: 100%;
      width: 100%;
      margin: 0 !important;
      padding: 0 !important;

      .server-side {
        min-width: 250px;
        max-width: 15%;
        z-index: 3;
        background-color: rgba($color: $text-color, $alpha: .03)
      }

      button.redirect-roomcreation {
        display: none;
        width: 150px;
        max-width: 100%;
        padding: 10px;
        background-color: $third-color;
        border-radius: 5px;
        outline: none;
        border: none;
        cursor: pointer;
        margin-top: 20px;
      }
    }
}

@media screen and (max-width: 950px) {
  .app-container {
    .server-main-content {
      position: relative;
      overflow: hidden;

      &>* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100% !important;
        transition: all 200ms ease-in-out;
      }

      &:has(.channel-list.open) {
        .channel-list {
          left: 0;
          right: 0;
        }
        .chat-window {
          left: 100%;
          right: -100%;
        }
      }

      &:has(.server-info.open) {
        .server-info {
          left: 0;
          right: 0;
        }
        .chat-window {
          left: -100%;
          right: 100%;
        }
      }

      .channel-list {
        left: -100%;
        right: 100%;
      }
      .server-info {
        left: 100%;
        right: -100%;
      }
      button.redirect-roomcreation {
        display: block;
      }
    }
  }
}