.app-container {
    .server-main-content {
  
      .server-info {

        display: flex;
        flex-direction: column;
        align-items: center;

        img.server-image {
          width: 50%;
          aspect-ratio: 1/1;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }