@import "../../colors";

.wanted-elements-container {
    overflow-y: auto;
    form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;

        .needed-element {
            padding: 5px 20px;
            display: flex;
            label {
                width: 100%;
            }

            &:nth-child(odd) {
                background-color: rgba($color: $text-color, $alpha: .05);
            }
        }
    }
    form, button {
        margin-top: 20px;
    }

    button {
        background: $third-color;
        color: $main-color;
        border: none;
        width: 200px;
        max-width: 100%;
        align-self: center;
        padding: 10px 20px;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .05rem;
        margin-right: -.05rem;

        &:hover {
            background: darken($color: $third-color, $amount: 10);
        }
    }
}