@import '../../colors';

.character-info-modal {
    padding: 40px !important;
    position: fixed !important;

    .character-data {
        display: flex;
        align-items: center;
        justify-content: center;
        //gap: 50px;
        width: 500px;
        max-width: 90%;
        padding: 20px;
        gap: 20px;
        //border: 1px solid rgba($color: $text-color, $alpha: .3);
        background-color: rgba($color: $text-color, $alpha: .01);

        .character-pic-name {
            display: flex;
            flex-direction: column;
            align-items: left;
            width: 250px;
            height: 100%;
            gap: 20px;
            
            img {
                //border: 1px solid $third-color;
                border-radius: 50%;
                max-width: 80%;
                width: 150px;
                aspect-ratio: 1/1;
            }

            h2 { margin-top: 0;}
            img, h2 {
                align-self: center;
                text-align: center;
            }

            h2, p {
                color: $text-color;
                cursor: pointer;

                &.selected {
                    color: $third-color;
                    opacity: 1 !important;
                }
            }

            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                //flex-direction: column;
                align-items: center;
                gap: 2px;

                li {
                    width: auto;
                    text-wrap: wrap;
                    max-width: 200px;
                    text-align: center;
                }
                li:not(:first-child) {
                    font-size: .9rem;
                    
                    //background-color: rgba($color: $text-color, $alpha: .1);
                    //padding: 5px;

                    p {opacity: .5;}
                    
                }
            }
        }

        table {
            align-self: flex-start;
            tr {
                &:nth-child(even) {
                    background-color: rgba($color: $text-color, $alpha: .1);
                }
            }
            td {
                border: none !important;
                padding: 5px 10px !important;
                font-size: .9rem;

                &:nth-child(odd) {
                    text-align: left;
                    width: min-content;
                }
                &:nth-child(even) {
                    width: 100%;
                }
            }
        }
        
    }
    .character-details {
        width: 500px;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        h3 {
            margin-block: 10px;
        }
    }
    p {
        text-wrap: wrap;
    }
}

@media screen and (max-width: 769px) {
    .character-info-modal {
        .character-data {
            flex-direction: column;

            .character-pic-name {
                align-items: center;

                ul {justify-content: center;}
            }
        }
    }
    
}

@media screen and (max-width: 481px) {
    .character-info-modal {
        padding: 20px !important;
        padding-top: 40px !important;
        height: 100% !important;
        margin: 0 !important;

        .close {
            padding-top: 0px;
        }

        table {
            td {
                font-size: .8rem !important;
            }
        }
    }
}