@import '../../colors';

.character-info-modal {
    padding: 40px !important;
    position: fixed !important;

    .character-data {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        width: 500px;
        max-width: 90%;

        .character-pic-name {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                border: 1px solid $third-color;
                border-radius: 0;
                width: 250px;
                aspect-ratio: 1/1;
            }
        }

        
    }
    .character-details {
        width: 500px;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
            margin-top: 10px;
        }
    }
    p {
        text-wrap: wrap;
    }
}

@media screen and (max-width: 769px) {
    .character-info-modal {
        .character-data {
            flex-direction: column;
        }
    }
    
}

@media screen and (max-width: 481px) {
    .character-info-modal {
        padding-top: 100px !important;
        height: 100% !important;
        .close {
            padding-top: 70px;
        }
    }
}