@import '../colors';

.login-container {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    min-height: 100vh;
    background-color: $main_color;
    display: grid;
    place-items: center;
    color: $text_color;
    

    main {
        width: min(100%, 500px);
        height: min(80%, 600px);
        border: 2px solid $text_color;
        border-radius: 1rem;
        padding: 2% 5%;
        position: absolute;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        img.logo {
            position: relative;
            top: -80px;
            height: 100px;
            width: min(80%, 300px);
            padding-inline: 2rem;
            object-fit: contain;
            background: $main_color;
            z-index: 1000;
        }

        .loading {
            position: absolute;
            top: 0;
            min-width: 100%;
            min-height: 100%;
            border-radius: 1rem;
            background-color: $main_color;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                position: relative;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0;
            width: 100%;
            margin-top: -100px;

            &>div {
                width: 100%;
            }

            input {
                width: 100%;
                padding: 0.5rem 0;
                margin: 1rem 0;
                border: none;
                border-bottom: 1px solid $text_color;
                background-color: transparent;
                color: $text_color;
                font-size: 1rem;
                font-weight: 500;
                outline: none;
                transition: all 0.3s;
                &:focus {
                    width: 102%;
                    color: $secondary_color;
                    border-color: $secondary_color;
                }
            }
            .password {
                position: relative;

                &:has(input:focus) .show-password {
                    color: $secondary_color;
                }

                .show-password {
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    background: none;
                    outline: none;
                    border: none;
                    color: $text_color;
                }

                .password-specs {
                    background-color: $secondary_color;
                    color: $main_color;
                    border-radius: 7px;
                    padding: 1rem 2rem;
                    font-size: .9rem;
                    position: fixed;
                    z-index: 100;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                }
            }
            button[type="submit"] {
                background: transparent;
                border: 2px solid $text_color;
                color: $text_color;
                padding: 0.75rem 1.5rem;
                margin-top: 2rem;
                border-radius: 0.5rem;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    color: $secondary_color;
                    border-color: $secondary_color;
                }
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            p {
                cursor: pointer;
                &:hover {
                    color: $secondary_color;
                }
            }
        }
    }
}